<div id="<%= dom_id chatter %>">
   <% if chatter.user == current_user %>
  <p>
    <strong>First name:</strong>
    <%= chatter.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= chatter.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= chatter.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= chatter.phone %>
  </p>
  <% end %>

</div>
